.forma {
	background-color: yellow;
	margin: ;
	color: red;
	font-size: 24px;
	font-family: Arial, Verdana, Sans-serif;
	border: 1px solid ;
}

input {
	font-family:Verdana,Tahoma, Sans-serif;
    color:red;
    margin-left:20px;
    padding-left: 20px;

}