nav {
	list-style: none;
	float:right;
}
nav li {
 display: inline-block;
 margin-left: 10px;
 background-color:yellow;
 padding: 5px 20px;
 border: 1px dotted red;
 border-radius: 10px;
}

nav li:nth-child(1){
	margin-left:0;
}

nav li a{
	font-style: normal;
	font-size:20px;
	color:black;

}	


