#prva {
	font-size:24px;
	color:red;
	font-weight:bolder;
}
#druga {
	font-size:24px;
	color:green;
	font-weight:bolder;

}
a {
	color:grey;
}
.klasa{
	color:brown;
}
span
	color:pink;
}
